#container{
    width: 100%;

	h3.title{
		color: #2196f3b0;
		padding: 7px 3px;
		font-weight: 600;
	}

	p.abstract{
		padding: 0 7px;
		font-size: 16px;
		color: #9e9e9ef2;
	}

    .gallery{
        margin: 12px 1em;
        border: 2px solid #ccc;
        float: left;
		max-height: 500px;
		overflow: scroll;
		text-align: center;
		
		&:hover{
  	        border: 1px solid #777;
		}

	    img{
			width: auto;
			margin-top: 1em;
	    	 height: 400px;
			 transform: scale(1,1);
	    	 transition: all 1s ease-out;
    
	        &:hover{
	    	//-ms-transform: scale(1.5); /* IE 9 */
	    	//-webkit-transform: scale(1.5); /* Safari 3-8 */
	    	transform:scale(1.1,1.1);
	    	}
		}

	    > .desc{
 	        padding: 5px;
			text-align: center;
			  
			p{
				margin-top: 10px;
				min-height: 3em;
				text-align: center;
				font-size: 16px;
				color: #9e9e9ef2;
			}
	    }
    }
}
