#container {
  width: 100%;
}
#container h3.title {
  color: #2196f3b0;
  padding: 7px 3px;
  font-weight: 600;
}
#container p.abstract {
  padding: 0 7px;
  font-size: 16px;
  color: #9e9e9ef2;
}
#container .gallery {
  margin: 12px 1em;
  border: 2px solid #ccc;
  float: left;
  max-height: 500px;
  overflow: scroll;
  text-align: center;
}
#container .gallery:hover {
  border: 1px solid #777;
}
#container .gallery img {
  width: auto;
  margin-top: 1em;
  height: 400px;
  transform: scale(1, 1);
  transition: all 1s ease-out;
}
#container .gallery img:hover {
  transform: scale(1.1, 1.1);
}
#container .gallery > .desc {
  padding: 5px;
  text-align: center;
}
#container .gallery > .desc p {
  margin-top: 10px;
  min-height: 3em;
  text-align: center;
  font-size: 16px;
  color: #9e9e9ef2;
}

/*# sourceMappingURL=photo_gallery.css.map */
