$border-color: #5eaec7a3;
$main-title-font: 1.5em;
$sub-title-font: 1em;
$content-font: 14px;
$content-color: #000000ab;

//note樣式
%note{
    color: #FF9800;

    >i{
        font-size: 17px;
        margin-right: 5px;
    }
}

//點到點的匡樣式
%flow_line_block{
    margin-left: 1em;
    border-left: 3px solid #b7b4b491;
    min-height: 1em;
    margin-bottom: 0px;
    padding: 0px 1em 5px;
    position: relative;

    &:before{
        //box-shadow: 0px 0px 3px 5px blue;
        content: "";
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #b7b4b4f5;
        display: inline-block;
        top: 0px;
        left: 0px;
        transform: translateX(-60%);
        position: absolute;
    }

    > span{
        font-size: $sub-title-font;
        display: block;
        font-weight: 600;
        padding: 3px 0;

        > span{
            font-weight: 600;
            color: #000000ab;
            margin-left: 1em;
            font-size: 12px;
        }
    }

    > li{
        color: #000000ab;
        font-size: 14px;
        padding: 3px;
    }
}

html{
    margin: 0px;
    padding: 0px;
}

#container{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif, Microsoft JhengHei!important;

    > #content{          
        padding: 0 10px;
        margin: 1em 3em 0 3em;
    }

    > .left-bar{
        display: inline-block;
        left: 0;
        position: fixed;

        >a{
            display: block;
            background: #2d3057;
            padding: 1em;
            cursor: pointer;
            border-bottom: 2px solid #0000004a;
            color: #FFFFFF;
            font-size: 1.5em;
            
            &:hover {
            background: #6784a1;
            }
        }
    }
}

/*大頭照與自傳*/
.header{

    >.img-block{
        img.personal_logo{
            display: inline-block;
            border-radius: 50%;
            border: 2px solid $border-color;
            width: 100%;
            height: auto;
            margin-top: 20px;
            margin-bottom: .2em;
        }

        >p{
            font-size: $sub-title-font;
            text-align: left;
            font-weight: 800;

            >label{
                display: inline-block;
                min-width: 3em;
                font-size: 16px;
            }
        }
    }

    >.intro-block {
        text-align: center;
        > .header-content{
            display: inline-block;
            margin: 0 auto;
    
            > .intrdocution{
                font-size: $content-font;
                max-width: 650px;
                text-align: left;
                color: $content-color;
                margin-top: 2em;
            }
    
            >h3{
                font-size: $main-title-font;
                text-align: center;
                font-weight: 600;
            }
        }
    }
}

.resume-content{
    //履歷內容

    .work_experience{
        border-top: 2px solid #3a7bb7;
	width: calc(100% - 1.5em);
    }

    > .content-block{
        margin: 0 1em;
        padding: 6px;

        > .main-title{
            margin: 1em 0;
            //background: #4248b79e;
            //color: #FFFF;
            //border-radius: 28px 0 0 28px;
            > label{
                font-size: $main-title-font;
                display: inline-block;
                min-width: 1.5em;
                text-align: center;
                border-radius: 50%;
                background: #9ed0e0;
                padding: 0px 0px 3px 0px;

                > i{
                    font-size: 17px;
                    color: #FFFFFF;
                    vertical-align: middle;
                }
            }

            > span{
                font-weight: 600;
                margin-left: .4em;
                font-size: 17px;
            }
        }

        > .main-content-container{
            @extend %flow_line_block;
        }

        //skills area content
        &.skills{

            /*.line-container{
                margin-top: 1em;
            }*/
            
            p.note{
                @extend %note;
            }

            hr {
                display: block;
                height: 2px;
                border: 0;
                border-top: 3px solid #ccc;
                margin: 1em 0;
                padding: 0;
            }

            .line_boundary{
                display: inline-block;
                //border-top: 2px solid #00000080;
                vertical-align: top;

                label.progressText{
                    display: inline-block;
                    vertical-align: top;
                    min-width: 8em;
                }

                > .skills-category{
                    text-align: center;
                    color: #5a7896;
                    font-size: 1.2em;
                    padding: .4em 0;
                    font-weight: 600;
                }

                > .skills-content{
                    > ul{
                        margin: 0;
                        padding: 0 2em;

                        > li{
                            font-size: $content-font;
                            padding: 3px;
                            color: $content-color;
                        }
                    }    
                }
              }
        }

        /*particpated project area*/
        &.project_participation{
            p.note{
                @extend %note;
            }

            >.project-participation-content{
                > .type-block {
                    background: #ffffff;
                    box-shadow: 1px 1px 2px 2px rgba(51, 51, 51, 0.22);
                    font-family: "Microsoft JhengHei";
                    font-size: 14px;
                    margin: 10px 0 16px 0;
                    max-width: 85%;
                    min-width: 60%;
                    padding: 8px 20px;
			
		    .edit_content {
			> ul {
			    padding: 0;

			    > li {
			        list-style-type: none;
			    }
			}
		    }

                    > h3.edit_title span {
                        background: #9ed1e1cf;
                        border-radius: 0px 20px 20px 0px;
                        display: inline-block;
                        font-size: 17px;
                        font-weight: 600;
                        left: -32px;
                        padding: 7px 39px 7px 21px;
                        position: relative;
                        cursor: pointer;
            
                        &:before {
                            background: #ffffff;
                            border-radius: 50%;
                            color: #f0c654;
                            content: "\f005";
                            font-family: "FontAwesome";
                            font-weight: 600;
                            padding: 3px 4px;
                            position: absolute;
                            right: 5px;
                            top: 4px;
                        }
            
                        &:after {
                            border-color: transparent #9ed2e1c2 transparent transparent;
                            border-style: solid;
                            border-width: 9px 15.6px 9px 0px;
                            bottom: -9px;
                            content: "";
                            height: 0px;
                            left: 0px;
                            position: absolute;
                            width: 0px;
                            z-index: -1;
                        }
                    }
                }

            }
            
        }

        &.personal_prolio{

            p {
                >label{
                    display: inline-block;
                    min-width: 6em;
                }
    
            }
        }

    }

}

.tooltip{ 
    position:relative;
    float:right;
  }
  
.tooltip > .tooltip-inner {
	background-color: #eebf3f;
	padding:2px 8px;
	color:rgb(23,44,66);
	font-weight:bold;
	font-size:12px;
}

.popOver + .tooltip > .tooltip-arrow {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #eebf3f;
}
  
section{
	margin:100px auto; 
    height:1000px;
}
  
.progress{
    border-radius:0;
    overflow:visible;
    margin-top: 7px;
    display: inline-block;
    width: 60%;
	background: #f5f5f5;
	height: 10px;
	margin-bottom: 20px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.progress-bar{
	background:#5a7896; 
    -webkit-transition: width 1.5s ease-in-out;
    transition: width 10.5s ease-in-out;
	line-height: 20px;
    height: 100%;
}


@media only screen and (max-width: 768px) {
    .resume-content > .content-block.project_participation > .project-participation-content > .type-block {
        max-width: 100%;
    }

    .progress{
        width: 39%;
    }
}
